{% extends "AppFulana/padre.html" %}
{% load static %}
{% block contenidoModificable %}

<!-- banner -->
<section class="banner_main">
    <div class="container">
       <div class="row d_flex">
          <div class="col-md-12">
             <div class="text-bg">
                <span> Resultado de busqueda de {{lenguajeBuscado}}</span>
                <p>
                  {% if review %}

                  <ul>
                  {% for x in review %}
                     <li>{{x.lenguaje}}</li>
                     <li>{{x.review}}</li> 
                  {% endfor %}
                  </ul>

                  {% endif %}

                </p>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- end banner -->

{% endblock %}