{% extends "AppFulana/padre.html" %}
{% load static %}
{% block contenidoModificable %}

<!-- banner -->
<section class="banner_main">
    <div class="container">
       <div class="row d_flex">
          <div class="col-md-6">
             <div class="text-bg">
                <h1>AGREGAR LENGUAJE</h1>
                <p>  
                    {% if miFormulario2.errors %}
                    <p style="color:red">Los datos son erroneos, por favor revisar</p>
                    {% endif %}
                    <form action="" method="POST">{% csrf_token %}
                        <table>
                            {{ miFormulario2.as_table }}
                        </table>
                        <input type="submit", value="Enviar">
                    </form>
                </p>
             </div>
          </div>
          <div class="col-md-6">
            <div class="text-bg">
                <h1>BUSCA LENGUAJE:</h1>
                <p>
                    <form action="/AppFulana/buscar/" method="GET">
                        <input type="text" name="lenguajeBuscado" id="lenguajeBuscado">
                        <input type="submit" value="buscar">
                    </form>
                </p>
            </div>
          </div>
       </div>
    </div>
 </section>
 <!-- end banner -->

{% endblock %}